<!-- Header -->
<header id="header">
    <!-- Top Header -->
    <div id="top-header">
        <div class="container">
            <div class="header-links">
                <ul>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Advertisement</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-in"></i> Login</a>
                    </li>
                </ul>
            </div>
            <div class="header-social">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Top Header -->

    <!-- Center Header -->
    <div id="center-header">
        <div class="container">
            <div class="header-logo">
                <a href="#" class="logo">
                    <img src="./img/logo.png" alt="">
                </a>
            </div>
            <div class="header-ads">
                <img class="center-block" src="./img/ad-2.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /Center Header -->

    <!-- Nav Header -->
    <div id="nav-header">
        <div class="container">
            <nav id="main-nav">
                <div class="nav-logo">
                    <a href="#" class="logo">
                        <img src="./img/logo-alt.png" alt="">
                    </a>
                </div>
                <ul class="main-nav nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Sport</a>
                    </li>
                    <li>
                        <a href="#">Lifestyle</a>
                    </li>
                    <li>
                        <a href="#">Fashion</a>
                    </li>
                    <li>
                        <a href="#">Music</a>
                    </li>
                    <li>
                        <a href="#">Business</a>
                    </li>
                </ul>
            </nav>
            <div class="button-nav">
                <button class="search-collapse-btn">
                    <i class="fa fa-search"></i>
                </button>
                <button class="nav-collapse-btn">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="search-form">
                    <form>
                        <input class="input" type="text" name="search" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Nav Header -->
</header>
<!-- /Header -->

<!-- Owl Carousel 1 -->
<div id="owl-carousel-1" class="owl-carousel owl-theme center-owl-nav">
    <!-- ARTICLE -->
    <article class="article thumb-article">
        <div class="article-img">
            <img src="./img/img-lg-1.jpg" alt="">
        </div>
        <div class="article-body">
            <ul class="article-info">
                <li class="article-category">
                    <a href="#">News</a>
                </li>
                <li class="article-type">
                    <i class="fa fa-camera"></i>
                </li>
            </ul>
            <h2 class="article-title">
                <a href="#">Duis urbanitas eam in, tempor consequat.</a>
            </h2>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> January 31, 2017</li>
                <li>
                    <i class="fa fa-comments"></i> 33</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->

    <!-- ARTICLE -->
    <article class="article thumb-article">
        <div class="article-img">
            <img src="./img/img-lg-2.jpg" alt="">
        </div>
        <div class="article-body">
            <ul class="article-info">
                <li class="article-category">
                    <a href="#">News</a>
                </li>
                <li class="article-type">
                    <i class="fa fa-file-text"></i>
                </li>
            </ul>
            <h2 class="article-title">
                <a href="#">Duis urbanitas eam in, tempor consequat.</a>
            </h2>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> January 31, 2017</li>
                <li>
                    <i class="fa fa-comments"></i> 33</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->

    <!-- ARTICLE -->
    <article class="article thumb-article">
        <div class="article-img">
            <img src="./img/img-lg-3.jpg" alt="">
        </div>
        <div class="article-body">
            <ul class="article-info">
                <li class="article-category">
                    <a href="#">News</a>
                </li>
                <li class="article-type">
                    <i class="fa fa-camera"></i>
                </li>
            </ul>
            <h2 class="article-title">
                <a href="#">Duis urbanitas eam in, tempor consequat.</a>
            </h2>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> January 31, 2017</li>
                <li>
                    <i class="fa fa-comments"></i> 33</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->
</div>
<!-- /Owl Carousel 1 -->

<!-- SECTION -->
<div class="section">
    <!-- CONTAINER -->
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <!-- Main Column -->
            <div class="col-md-12">
                <!-- section title -->
                <div class="section-title">
                    <h2 class="title">Trending Posts</h2>
                    <!-- tab nav -->
                    <ul class="nav nav-tabs pull-right" role="tablist">
                        <li class="active">
                            <a data-toggle="tab" ng-click="getNews('all')">International</a>
                        </li>
                        <li>
                            <a data-toggle="tab" ng-click="getNews('general')">General</a>
                        </li> 
                        <li>
                            <a data-toggle="tab" ng-click="getNews('business')">Business</a>
                        </li>
                        <li>
                            <a data-toggle="tab" ng-click="getNews('entertainment')">Entertainment</a>
                        </li>
                        <li>
                            <a data-toggle="tab" ng-click="getNews('health')">Health</a>
                        </li>
                        <li>
                            <a data-toggle="tab" ng-click="getNews('science')">Science</a>
                        </li>
                        <li>
                            <a data-toggle="tab" ng-click="getNews('sport')">Sport</a>
                        </li>
                        <li>
                            <a data-toggle="tab" ng-click="getNews('technology')">Technology</a>
                        </li>
                    </ul>
                    <!-- /tab nav -->
                </div>
                <!-- /section title -->
                <!-- Tab content -->
                <div id="all" class="tab-content">
                    <!-- tab1 -->
                    <div class="tab-pane fade in active">
                        <!-- row -->
                        <div class="row">
                            <!-- Column 1 -->
                            <div class="col-md-3" ng-repeat="news in newsSource">
                                <!-- ARTICLE -->
                                <article class="article" id="imgGrid">
                                    <div class="article-img">
                                        <a href="{{news.url}}" target="_blank">
                                            <img src="{{news.urlToImage}}" alt="">
                                        </a>
                                    </div>
                                    <div class="article-body" id="imgGrid">
                                        <h6>
                                            <a href="{{news.url}}" target="_blank">
                                                <b>{{news.title}}--></b>
                                                <i>{{news.description}}</i>
                                            </a>
                                        </h6>
                                    </div>
                                </article>
                                <hr/>
                                <!-- /ARTICLE -->
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /Main Column -->
                </div>
                <!-- Tab content -->
                <!-- END OF TABS -->
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /SECTION -->
        </footer>
        <!-- /FOOTER -->

        <!-- Back to top -->
        <div id="back-to-top"></div>
        <!-- Back to top -->
